
<h1>My created tasks </h1>
<%@user.projects.each do |project|%>
<%project.tasks.each do |task|%>
<%if !task.assignee.nil?%>
<%=link_to task.name, task_path(task.id)%> Assigned: <%=task.display_assignee%><br>
<%else%>
<%=link_to task.name, task_path(task.id)%> No Assignee<br>
<%end%>
<%end%>
<%end%>
<hr>
<h4>Assigned tasks</h4>
<%@assigned_tasks.each do |task|%>
<%=link_to task.name, task_path(task.id)%><br>
<%end%>
