<h1>My tasks </h1>
<%@tasks.each do |task|%>
<%if !task.creator.nil?%>
<%=link_to task.name, task_path(task.id)%> Assigned by <%=User.find(task.creator).name%><br>
<%else%>
<%=link_to task.name, task_path(task.id)%> No Assignee<br>
<%end%>
<%end%>
